# fly.toml app configuration file generated for vibecast-viewer on 2026-01-29T13:53:24+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vibecast-viewer'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[env]
  AWS_DEFAULT_REGION = 'eu-central-1'

[http_service]
  internal_port = 8001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpus = 1
  memory_mb = 256
